@charset "utf-8";
@import url(/css/NanumGothic.css);
@import url(/css/service.css);
@import url(/css/mypage.css);
@import url(/css/sms.css);
@import url(/css/join.css);
@import url(application.css);

/* reset */
* { margin:0; padding:0; -webkit-text-size-adjust:none; }
* { font-family: AppleSDGothicNeo-Regular,Droid sans,'Nanum Gothic','돋움',Dotum,Helvetica,sans-serif;}
html, body	{ height: 100%; }

body { color:#333; font-size:16px!important; line-height:1.25em; letter-spacing:-1px;}

img, fieldset { border:0 none }
ul, ol, li, dl { list-style:none; }
h1, h2, h3, h4, h5, h6 { font-size:1em}
hr { display:none; }
a { color:inherit; }
a, a:link { color:#333; text-decoration:none; }
a:visited { color:#333; }
a:hover, a:active { color:#333; text-decoration:none; }
em, i, address { font-style:normal; font-weight:normal; }
legend, caption { display:none; clear:both; }

/*ie9 placeholder 정의*/
input.placeholder {color:#C3AFA9 !important;/*font-family: 'Nanum Gothic';*/}

/* 크롬 패스워드 인풋 수정*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
input[type="password"] {font-family: Malgun Gothic !important; }
}

.ui-shadow-inset {
	-webkit-box-shadow: inset 0 0px 0px /*{global-box-shadow-size}*/ rgba(0,0,0,.1) /*{global-box-shadow-color}*/;
	-moz-box-shadow: inset 0 0px 0px /*{global-box-shadow-size}*/ rgba(0,0,0,.1) /*{global-box-shadow-color}*/;
	box-shadow: inset 0 0px 0px /*{global-box-shadow-size}*/ rgba(0,0,0,.1) /*{global-box-shadow-color}*/;
}


.hide {display:none}
.hand {cursor:pointer}
.border1 {border:1px solid black;}

/* Page and overlay */
.ui-overlay-a,
.ui-page-theme-a,
.ui-page-theme-a .ui-panel-wrapper {
	/* background-color: #333 */
	border-color: #bbbbbb /*{a-page-border}*/;
	/*color: #333333 *//*{a-page-color}*/;
	text-shadow: none;
}

.both {clear:both; }
.ui-btn {font-family: 'Nanum Gothic';}

.ui-page-theme-a {background-color:#fff}
.helv { font-family:돋움, HelveticaNeue, Dotum, 굴림, Gulim, Apple-Gothic; }
.verd { font-family:verdana, 돋움, HelveticaNeue, Dotum, 굴림, Gulim, Apple-Gothic; }
.nanum{ font-family:Nanum Gothic,"돋움",dotum;}
.bold { font-weight:bold; }
.utsa { font-family:Utsaah, HelveticaNeue, Apple-Gothic; }

.blind, legend {overflow:hidden; width:0!important; height:0!important; position:absolute; top:0; left:0; font-size:0!important; line-height:0!important; }

.pLoader_outer {display:none;}
.pLoader {position:fixed; top:0; left:0; bottom:0; right:0; background:#000 url(/css/images/ajax-loader.gif) no-repeat 50% 50%; opacity:0.2; z-index:99999999; box-sizing:border-box}

.pLoader2_outer {display:none;}
.pLoader2 {position:fixed; top:0; left:0; bottom:0; right:0; background:#000 url(/img/mypage/loader.gif) no-repeat 50% 50%; opacity:0.3; z-index:99999999; box-sizing:border-box}


/*padding*/
.pl5   {padding:0 0 0 5px !important;}
.pbt10 {padding:10px 0 !important;}
.pt5   {padding-top:5px !important;}
.pt10  {padding-top:10px !important;}
.pl10  {padding-left:10px !important;}
.pl15  {padding-left:15px !important;}
.pr10  {padding-right:10px !important;}

/* margin */
.mt10 {margin-top:10px !important;}
.mt20 {margin-top:20px !important;}
.mt30 {margin-top:30px !important;}
.mt40 {margin-top:40px !important;}
.mt50 {margin-top:50px !important;}
.mt70 {margin-top:70px !important;}
.mr50 {margin-right:50px !important;}
.mb0 {margin-bottom:0px !important;}
.mb5 {margin-bottom:5px !important;}
.mb10 {margin-bottom:10px !important;}
.mb20 {margin-bottom:20px !important;}
.mb24 {margin-bottom:24px !important;}
.mb40 {margin-bottom:40px !important;}
.mb50 {margin-bottom:50px !important;}
.mb60 {margin-bottom:60px !important;}
.mb100 {margin-bottom:100px !important;}

/* text-align */
.ta-c {text-align:center;}
.ta-l {text-align:left;}
.ta-r {text-align:right;}

/* font */
/*h1 {font-family:'Nanum Gothic';font-size:30px  font-weight:bold; line-height:30px;}
h2 {font-family:'Nanum Gothic';font-size:30px;  font-weight:normal; color:#6f6f6f;} 
h3 {font-family:'Nanum Gothic'; font-size:26px; font-weight:bold; line-height:30px;}*/
.f_warning {font-size:1em; color:#f36149}
a.f_link {font-weight:bold; text-decoration:underline; color:#48c7af;}

.f14 {font-size:14px !important;}
.f16 {font-size:16px !important;}
.f20 {font-size:20px !important;}

/*폰트 컬러*/
.f_626262 {color:#626262 !important;}
.f_5fd4d3 {color:#5fd4d3 !important;}
.f_fff {color:#FFF !important;}

/* display */
.dblock {display:block !important;}
.dinline {display:inline !important;}

.ui-page-theme-a .uifocus {box-shadow:0 0 1px #5fd4d3  !important;}
.ui-shadow-inset input:focus {box-shadow:none}



/* A -  공통 a테마 shadow 부분 재 정의
-----------------------------------------------------------------------------------------------------------*/


/* Body: Read-only lists, text inputs, collapsible content */
.ui-body-a,
.ui-page-theme-a .ui-body-inherit,
html .ui-bar-a .ui-body-inherit,
html .ui-body-a .ui-body-inherit,
html body .ui-group-theme-a .ui-body-inherit,
html .ui-panel-page-container-a {
	background-color: #ffffff /*{a-body-background-color}*/;
	border-color: #dddddd /*{a-body-border}*/;
	color: #333333 /*{a-body-color}*/;
	text-shadow: 0 /*{a-body-shadow-x}*/ 0px /*{a-body-shadow-y}*/ 0 /*{a-body-shadow-radius}*/ #f3f3f3 /*{a-body-shadow-color}*/;
}
.ui-body-a {
	border-width: 1px;
	border-style: solid;
}
/* Links */
.ui-page-theme-a a,
html .ui-bar-a a,
html .ui-body-a a,
html body .ui-group-theme-a a {
	color: #5fd4d3 /*{a-link-color}*/;
	font-weight: bold;
}
.ui-page-theme-a a:visited,
html .ui-bar-a a:visited,
html .ui-body-a a:visited,
html body .ui-group-theme-a a:visited {
    color: #878787 /*{a-link-visited}*/;
}
.ui-page-theme-a a:hover,
html .ui-bar-a a:hover,
html .ui-body-a a:hover,
html body .ui-group-theme-a a:hover {
	color: #47c2c1 /*{a-link-hover}*/;
}
.ui-page-theme-a a:active,
html .ui-bar-a a:active,
html .ui-body-a a:active,
html body .ui-group-theme-a a:active {
	color: #47c2c1 /*{a-link-active}*/;
}
/* Button up */
.ui-page-theme-a .ui-btn,
html .ui-bar-a .ui-btn,
html .ui-body-a .ui-btn,
html body .ui-group-theme-a .ui-btn,
html head + body .ui-btn.ui-btn-a,


/* Button visited */
.ui-page-theme-a .ui-btn:visited,
html .ui-bar-a .ui-btn:visited,
html .ui-body-a .ui-btn:visited,
html body .ui-group-theme-a .ui-btn:visited,
html head + body .ui-btn.ui-btn-a:visited {
	background-color: #f6f6f6 /*{a-bup-background-color}*/;
	border-color: #dddddd /*{a-bup-border}*/;
	color: #333333 /*{a-bup-color}*/;
	text-shadow: 0 /*{a-bup-shadow-x}*/ 0px /*{a-bup-shadow-y}*/ 0 /*{a-bup-shadow-radius}*/ #f3f3f3 /*{a-bup-shadow-color}*/;
}
/* Button hover */
.ui-page-theme-a .ui-btn:hover,
html .ui-bar-a .ui-btn:hover,
html .ui-body-a .ui-btn:hover,
html body .ui-group-theme-a .ui-btn:hover,
html head + body .ui-btn.ui-btn-a:hover {
	background-color: #ededed /*{a-bhover-background-color}*/;
	border-color: #dddddd /*{a-bhover-border}*/;
	color: #333333 /*{a-bhover-color}*/;
	text-shadow: 0 /*{a-bhover-shadow-x}*/ 0px /*{a-bhover-shadow-y}*/ 0 /*{a-bhover-shadow-radius}*/ #f3f3f3 /*{a-bhover-shadow-color}*/;
}
/* Button down */
.ui-page-theme-a .ui-btn:active,
html .ui-bar-a .ui-btn:active,
html .ui-body-a .ui-btn:active,
html body .ui-group-theme-a .ui-btn:active,
html head + body .ui-btn.ui-btn-a:active {
	background-color: #e8e8e8 /*{a-bdown-background-color}*/;
	border-color: #dddddd /*{a-bdown-border}*/;
	color: #333333 /*{a-bdown-color}*/;
	text-shadow: 0 /*{a-bdown-shadow-x}*/ 0px /*{a-bdown-shadow-y}*/ 0 /*{a-bdown-shadow-radius}*/ #f3f3f3 /*{a-bdown-shadow-color}*/;
}
/* Active button */
.ui-page-theme-a .ui-btn.ui-btn-active,
html .ui-bar-a .ui-btn.ui-btn-active,
html .ui-body-a .ui-btn.ui-btn-active,
html body .ui-group-theme-a .ui-btn.ui-btn-active,
html head + body .ui-btn.ui-btn-a.ui-btn-active,
/* Active checkbox icon */
.ui-page-theme-a .ui-checkbox-on:after,
html .ui-bar-a .ui-checkbox-on:after,
html .ui-body-a .ui-checkbox-on:after,
html body .ui-group-theme-a .ui-checkbox-on:after,
.ui-btn.ui-checkbox-on.ui-btn-a:after,
/* Active flipswitch background */
.ui-page-theme-a .ui-flipswitch-active,
html .ui-bar-a .ui-flipswitch-active,
html .ui-body-a .ui-flipswitch-active,
html body .ui-group-theme-a .ui-flipswitch-active,
html body .ui-flipswitch.ui-bar-a.ui-flipswitch-active,
/* Active slider track */
.ui-page-theme-a .ui-slider-track .ui-btn-active,
html .ui-bar-a .ui-slider-track .ui-btn-active,
html .ui-body-a .ui-slider-track .ui-btn-active,
html body .ui-group-theme-a .ui-slider-track .ui-btn-active,
html body div.ui-slider-track.ui-body-a .ui-btn-active {
	background-color: #5fd4d3 /*{a-active-background-color}*/;
	border-color: #56c3c2 /*{a-active-border}*/;
	color: #ffffff /*{a-active-color}*/;
	text-shadow: 0 /*{a-active-shadow-x}*/ 0px /*{a-active-shadow-y}*/ 0 /*{a-active-shadow-radius}*/ #005599 /*{a-active-shadow-color}*/;
}

/* Active radio button icon */
.ui-page-theme-a .ui-radio-on:after,
html .ui-bar-a .ui-radio-on:after,
html .ui-body-a .ui-radio-on:after,
html body .ui-group-theme-a .ui-radio-on:after,
.ui-btn.ui-radio-on.ui-btn-a:after {
	border-color: #5fd4d3 /*{a-active-background-color}*/;
}


/* Focus */
.ui-page-theme-a .ui-btn:focus,
html .ui-bar-a .ui-btn:focus,
html .ui-body-a .ui-btn:focus,
html body .ui-group-theme-a .ui-btn:focus,
html head + body .ui-btn.ui-btn-a:focus,
/* Focus buttons and text inputs with div wrap */
.ui-page-theme-a .ui-focus,
html .ui-bar-a .ui-focus,
html .ui-body-a .ui-focus,
html body .ui-group-theme-a .ui-focus,
html head + body .ui-btn-a.ui-focus,
html head + body .ui-body-a.ui-focus {
	-webkit-box-shadow: 0 0 0px #5fd4d3 /*{a-active-background-color}*/;
	-moz-box-shadow: 0 0 0px #5fd4d3 /*{a-active-background-color}*/;
	box-shadow: 0 0 0px #5fd4d3 /*{a-active-background-color}*/;
	border:1px solid #5fd4d3 /*{a-active-background-color}*/;
}

.ui-corner-all {
	-webkit-border-radius: .3em /*{global-radii-blocks}*/;
	border-radius: .3em /*{global-radii-blocks}*/;
}

/* 공통 a테마 샤도우 부분 재 정의  end */

.ui-mobile .ui-page-active {overflow-x:visible !important;} /**/ /* jqm - hidden 시 익스 파폭에서 스크롤 두개생김*/


/*.footer {overflow: hidden; position: absolute;bottom: 0; width:100%; margin-left:0px; margin-bottom:0;}
*/




/*********************** ▲ 상단 공통 스타일 정리 필요  2014-09-05추가 *******************/

/* main :: layout */
/*.sub_footer {width:100%; min-width:1024px; margin-top:50px;}*/
/*.resp-cont-wrap  {position:relative; width:1280px; margin:0 auto;} 
.main_footer .resp-cont-wrap {position:relative; width:1240px; margin:0 auto;} 
.sub_footer .resp-cont-wrap  {position:relative; width:980px; margin:0 auto;} 
.sub_footer .body-block-a {margin: 0;}*/
.body-block-a {margin:0 1em;} 
.body-block-b {padding-top:6.25em;} 

/* main_footer */
/*.ft-info1  {width:100%; background-color:#3f3f3f; color:#9b9b9b;}
.ft-info2  {width:100%; background-color:#5fd4d3; color:#ffffff;}
.ft-info1 {overflow:hidden; padding:2em 0 2em 0;}
.ft-info1 .ft_sns {float:left; width:30%; min-width:150px;}
.ft-info1 .ft_sns ul {overflow:hidden;}
.ft-info1 .ft_sns ul li {float:left; margin:.3em;}
.ft-info1 .ft_sns ul li span {font-size:14px; line-height:30px; font-weight:bold; letter-spacing:0; color:#c6c6c6;}
.ft-info1 .ft_sns ul li em {padding-left:5px; font-size:12px; letter-spacing:0; color:#c6c6c6}
.ft-info1 .ft_sns ul li.yid {clear:both;}

.ft-info1 .corp_wrap {float:right; width:70%; text-align:right;}
.ft-info1 .corp_wrap .corp_link {overflow:hidden; float:right; margin-bottom:1em;}
.ft-info1 .corp_wrap .corp_link li {float:left; margin:0 .2em;}
.ft-info1 .corp_wrap .corp_link li img {opacity:.2;}
.ft-info1 .corp_wrap .corp_link li a {font-size:80%; color:#e4e4e4;}
.ft-info1 .corp_wrap .corp_link li a:hover {color:#fff;}
.ft-info1 .corp_wrap .corp_info {clear:both;}
.ft-info1 .corp_wrap .corp_info li {font-size:90%; margin-top:.2em;}
.ft-info1 .corp_wrap .corp_info li span,
.ft-info1 .corp_wrap .corp_info li span a {margin:0 .3em; color:#9b9b9b;}

.ft-info2 {overflow:hidden; padding:1em 0;}
.ft-info2 .copyright {float:left; padding:0; letter-spacing:0;}
.ft-info2 .copyright2 {padding:0; letter-spacing:0; text-align:center; font-size:80%;}
.ft-info2 .br_info {float:right; font-size:90%;}
.ft-info2 .br_info a {margin-left:1em; display:inline-block; }
.ft-info2 .br_info a.btn_chrome {padding:.5em 1.5em; border:1px solid #f1f1f1; border-radius:3px; color:#f1f1f1; width:100px;}
.ft-info2 .br_info a.btn_chrome:hover {background-color:rgba(255,255,255,.2);}
.ft-info2 .br_info a span img {padding:0 0 1px 10px;}

.ft-info2 .br_info a.btn_chrome {border:none!important; background-color:#fff; color:#069689!important}
.ft-info2 .br_info a span img {display:none}
.ft-info2 .br_info a span {padding:0 18px 0 0; background:url(/img/main/ico_arrow2.png) no-repeat 100% 50%}

.ft-info2 .br_info a.btn_chrome:hover {background-color:#11a09f; color:#fff!important;}
.ft-info2 .br_info a:hover span {background:url(/img/main/ico_arrow3.png) no-repeat 100% 50%}


.ico_wrap {position:relative; background:url('/img/main/ico_spr.png') 0 0 no-repeat; background-size:100%;}
.ico_wrap span {position:absolute; top:0; left:0; z-index:-1;}
.ico_wrap.tstory   {width:30px; height:30px; background-position: 0 0;}
.ico_wrap.facebook {width:30px; height:30px; background-position: 0 -30px;}
.ico_wrap.twitter  {width:30px; height:30px; background-position: 0 -60px;}
.ico_wrap.yid      {width:30px; height:30px; background-position: 0 -90px;}
*/
/* footer */
/*.footer > .ft-info1 {overflow:hidden; padding:2em 0 1em 0;}*/



/* grid 2014-09-16추가 */
.ui-col-3 {overflow:hidden;}
.ui-col-3 .ui-block-a, 
.ui-col-3 .ui-block-b, 
.ui-col-3 .ui-block-c {float:left; width:33.3%;}
.ui-body-d {padding:0 1%; }
.ui-body-e {margin-bottom:30px;}



/* event (이벤트 상단배너) */
/*.lnb_event {position:absolute;top:0; left:50%; z-index:100; margin:0 0 0 -385px;width:140px;height:140px;}
.eb {position:absolute; margin:35px 0 0 5px; width:140px;height:65px;padding:0; z-index:101}
.eb img {width:130px;}
.eb_on {visibility: hidden; position:absolute; top:10px; margin:0; padding:0; 
  width:145px; height:145px; border-radius:50%; background-color:#5fd4d3; z-index:101}
.eb_on img {position:absolute}
.eb_on .text {visibility: hidden; width:140px; top:106px; left:2px}
.eb_on .emoticon {visibility: hidden; width:100px; top:10px; right:-10px}
.eb_on .iphone {visibility: hidden; width:75px; top:13px; left:-2px}
.eb_on .ipad {visibility: hidden; width:80px; top:0px; left:25px}

.slideDown{
	animation-name: slideDown;-webkit-animation-name: slideDown;
	animation-duration: 4s;-webkit-animation-duration: 4s;
	animation-timing-function: ease;-webkit-animation-timing-function: ease;
	visibility: visible !important;
}
@keyframes slideDown {
  0% {transform: translateY(-10%);opacity: 0;}	
  20%,100% {transform: translateY(0%);opacity: 1;}
}
@-webkit-keyframes slideDown {
  0% {transform: translateY(-10%);opacity: 0;}	
  20%,100% {transform: translateY(0%);opacity: 1;}
}

.slideDown .text{
	animation-name: text;-webkit-animation-name: text;
	animation-duration: 4s;-webkit-animation-duration: 4s;
	animation-timing-function: ease;-webkit-animation-timing-function: ease;
	visibility: visible !important;
}
@keyframes text { 
  0%,5% {transform:translateY(40%);opacity: 0;}	
  15%,100% {transform:translateY(0%);opacity: 1;} 
}
@-webkit-keyframes text { 
  0%,5% {transform:translateY(40%);opacity: 0;}	
  15%,100% {transform:translateY(0%);opacity: 1;} 
}

.slideDown .emoticon{
	animation-name: emoticon;-webkit-animation-name: emoticon;
	animation-duration: 4s;-webkit-animation-duration: 4s;
	animation-timing-function: ease;-webkit-animation-timing-function: ease;
	visibility: visible !important;
}
@keyframes emoticon { 0%,10% {opacity: 0;}	20%,100% {opacity: 1;} }
@-webkit-keyframes emoticon { 0%,10% {opacity: 0;}	20%,100% {opacity: 1;} }

.slideDown .iphone{
	animation-name: iphone;-webkit-animation-name: iphone;
	animation-duration: 4s;-webkit-animation-duration: 4s;
	animation-timing-function: ease;-webkit-animation-timing-function: ease;
	visibility: visible !important;
}
@keyframes iphone { 
	0%,15% {transform: translateY(-20%);opacity: 0;}
	20% {transform: translateY(5%);opacity: 0.5;}
	25%,100% {transform: translateY(0%);opacity: 1;}
}
@-webkit-keyframes iphone { 
	0%,15% {transform: translateY(-20%);opacity: 0;}
	20% {transform: translateY(5%);opacity: 0.5;}
	25%,100% {transform: translateY(0%);opacity: 1;}
}

.slideDown .ipad{
	animation-name: ipad;-webkit-animation-name: ipad;
	animation-duration: 4s;-webkit-animation-duration: 4s;
	animation-timing-function: ease;-webkit-animation-timing-function: ease;
	visibility: visible !important;
}
@keyframes ipad { 
	0%,20% {transform: translateY(-20%);opacity: 0;}
	25% {transform: translateY(5%);opacity: 0.5;}
	30%,100% {transform: translateY(0%);opacity: 1;}
}
@-webkit-keyframes ipad { 
	0%,20% {transform: translateY(-20%);opacity: 0;}
	25% {transform: translateY(5%);opacity: 0.5;}
	30%,100% {transform: translateY(0%);opacity: 1;}
}*/

/* 돌잔치이벤트 상단배너 2015-05-22 */
/* .lnb_event {position:absolute; top:-5px; left:50%; z-index:999999; margin: 0 0 0 -385px; width:170px; height:160px;}
.eb {position:absolute; top: 8px; left:20px; width:140px;height:65px; padding:0;}
.eb_on {visibility:hidden; position:absolute; top: 24px; margin:0; padding:0; width:170px; height:112px;}

.eb_on img {position:absolute}
.eb_on .eb_bg {visibility:hidden; width:112px; height:112px; top:0px; left:29px}
.eb_on .eb_img2 {visibility:hidden; width:68px; height:92px; top:10px; left:32px}
.eb_on .eb_img1 {visibility:hidden; width:80px; height:68px; top:30px; left:5px}
.eb_on .eb_emo {visibility:hidden; width:82px; height:98px; top:-14px; left:80px}
.eb_on .eb_txt {visibility:hidden; width:140px; height:38px; top:70px; left:15px}
 */

/* 행사초대장이벤트 상단배너 2015-11-30 */
.lnb_eventwrap {position:relative;width:100%;min-width:1024px;}
.lnb_event {position:absolute; top:0; left:50%; z-index:999999; margin: 0 0 0 -350px; width: 120px; height: 120px}
.lnb_event a {display:block}
.eb {position:absolute; top: 10px; left: 0; width:116px;height:72px; padding:0; z-index:101;}
.eb_on {visibility:hidden; position:absolute; top: 15px; left: -15px; margin:0; padding:0; width:145px; height:100px; z-index:101;}

.eb_on img {position:absolute}
.eb_on .eb_bg {visibility:hidden; width:97px; height:97px; top:0px; left:29px}
.eb_on .eb_img2 {visibility:hidden; width:44px; height:68px; top:8px; left:40px}
.eb_on .eb_img1 {visibility:hidden; width:72px; height:55px; top:33px; left:5px}
.eb_on .eb_emo {visibility:hidden; width:79px; height:78px; top:3px; left:62px}
.eb_on .eb_txt {visibility:hidden; width:114px; height:36px; top:65px; left:17px}

/* 이벤트배너 애니메이션(공통) */
.slideDown{
	animation-name: slideDown;-webkit-animation-name: slideDown;
	animation-duration: 4s;-webkit-animation-duration: 4s;
	animation-timing-function: ease;-webkit-animation-timing-function: ease;
	visibility: visible !important;
}
@keyframes slideDown {
  0% {transform: translateY(-10%);opacity: 0;}	
  20%,100% {transform: translateY(0%);opacity: 1;}
}
@-webkit-keyframes slideDown {
  0% {transform: translateY(-10%);opacity: 0;}	
  20%,100% {transform: translateY(0%);opacity: 1;}
}

.slideDown .eb_bg{
	animation-name: eb_bg;-webkit-animation-name: eb_bg;
	animation-duration: 4s;-webkit-animation-duration: 4s;
	animation-timing-function: ease;-webkit-animation-timing-function: ease;
	visibility: visible !important;
}
@keyframes eb_bg { 
  0%,5% {transform:translateY(20%);opacity: 0;}	
  15%,100% {transform:translateY(0%);opacity: 1;} 
}
@-webkit-keyframes eb_bg { 
  0%,5% {transform:translateY(20%);opacity: 0;}	
  15%,100% {transform:translateY(0%);opacity: 1;} 
}

.slideDown .eb_txt{
	animation-name: eb_txt;-webkit-animation-name: eb_txt;
	animation-duration: 4s;-webkit-animation-duration: 4s;
	animation-timing-function: ease;-webkit-animation-timing-function: ease;
	visibility: visible !important;
}
@keyframes eb_txt { 
	0%,10% {opacity: 0;}
	20%,100% {opacity: 1;} 
}
@-webkit-keyframes eb_txt { 
	0%,10% {opacity: 0;}
	20%,100% {opacity: 1;} 
}

.slideDown .eb_emo{
	animation-name: eb_emo;-webkit-animation-name: eb_emo;
	animation-duration: 4s;-webkit-animation-duration: 4s;
	animation-timing-function: ease;-webkit-animation-timing-function: ease;
	visibility: visible !important;
}
@keyframes eb_emo { 
	0%,15% {transform: translateY(-20%);opacity: 0;}
	20% {transform: translateY(5%);opacity: 0.5;}
	25%,100% {transform: translateY(0%);opacity: 1;}
}
@-webkit-keyframes eb_emo { 
	0%,15% {transform: translateY(-20%);opacity: 0;}
	20% {transform: translateY(5%);opacity: 0.5;}
	25%,100% {transform: translateY(0%);opacity: 1;}
}

.slideDown .eb_img2{
	animation-name: eb_img2;-webkit-animation-name: eb_img2;
	animation-duration: 4s;-webkit-animation-duration: 4s;
	animation-timing-function: ease;-webkit-animation-timing-function: ease;
	visibility: visible !important;
}
@keyframes eb_img2 { 
	0%,20% {transform: translateY(-20%);opacity: 0;}
	25% {transform: translateY(5%);opacity: 0.5;}
	30%,100% {transform: translateY(0%);opacity: 1;}
}
@-webkit-keyframes eb_img2 { 
	0%,20% {transform: translateY(-20%);opacity: 0;}
	25% {transform: translateY(5%);opacity: 0.5;}
	30%,100% {transform: translateY(0%);opacity: 1;}
}

.slideDown .eb_img1{
	animation-name: eb_img1;-webkit-animation-name: eb_img1;
	animation-duration: 4s;-webkit-animation-duration: 4s;
	animation-timing-function: ease;-webkit-animation-timing-function: ease;
	visibility: visible !important;
}
@keyframes eb_img1 { 
	0%,25% {transform: translateY(-20%);opacity: 0;}
	30% {transform: translateY(5%);opacity: 0.5;}
	35%,100% {transform: translateY(0%);opacity: 1;}
}
@-webkit-keyframes eb_img1 { 
	0%,25% {transform: translateY(-20%);opacity: 0;}
	30% {transform: translateY(5%);opacity: 0.5;}
	35%,100% {transform: translateY(0%);opacity: 1;}
}